<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @traveller.first_name %>, it looks like you've been invited to <%= @trip.name %></h1>
    <p>
      Your login is: <%= @traveller.email %>.<br>
    </p>
    <p>Have a great day!</p>
    <a href="https://travel-pro.herokuapp.com/">FannyPack.io</a>
  </body>
</html>
