html {
  background-color: #D8E8DF;
  margin: 0;
}

body {
  font-family: 'Lato';
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight:  900;
  letter-spacing: 1px;
  font-size: 2em;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight:  700;
  letter-spacing: 1px;
  color: #fff;
}

h3 {
  font-size: .7em;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

nav li a {
  text-decoration: none;
}

input[type=submit], button {
  background-color: transparent;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  width: 100%;
}

/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
  .page-title,
  .main-content,
  .sidebar {
    max-width: 50em;
    margin: 0 auto;
  }
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/

@supports (display: grid) {

  @media screen and (min-width: 320px) {
    html {
      background-color: #fff;
    }

    body {
      background-color: transparent;
    }
    .trips-list li {
      padding: 50px;
    }

    .page-title {
      background-color: yellow;
      margin: 0;
    }
    .trip-item {
      padding: 0 10px;
      font-size: .7em;
    }

    ul {
      padding: 0;
    }

    .trips-list p {
      color: #3a3a3a;
      font-weight: 400;
    }

    .trip-name {
      text-transform: uppercase;
    }

    .fa-map-marker {
      color: #E36B32;
    }

    .trip-name a {
      text-decoration: none;
      font-size: 2em;
      font-family: 'Montserrat', sans-serif;
    }

    .trip-name a:visited, a:link {
      color: #08457B;
    }

    .secondary-title {
      background-color: #69D3D9;
      position: relative;
      margin: 0;
      padding: 50px;
      left: 0;
      right: 0;
      font-size: 2em;
      text-align: center;
    }
  }

  @media screen and (min-width: 1200px) {
    #trip-info {
      box-sizing: border-box;
      padding: 30px;
    }

    #navigation-bar li {
      padding: 10px;
    }
    .footer {
      background-color: blue;
      padding: 20px;
      color: #fff;
      font-family: sans-serif;
      text-align: center;
    }

    .page-title h1{
      margin: 0;
    }

    .page-title {
      background-color: #EA6E34;
      padding: 20px;
      padding-left: 80px;
      color: #fff;
      box-sizing: border-box;
      grid-area: header;
      font-size: 30px;
    }

    .main-content {
      grid-area: main;
    }

    nav.sidebar {
      background-color: red;
      grid-area: sidebar;
    }
    .footer {
      grid-area: footer;
    }

    .sidebar li {
      display: block;
    }

    .site {
      display: grid;
      grid-template-columns: 1fr 5fr;
      grid-rows: auto;
      grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    }

    h2.secondary-title {
      margin-left: 5px;
      margin-right: 5px;
      border-radius: 5px;
    }

    body {
      background-color: transparent;
    }

    .trips-list li {
      box-sizing: border-box;
      padding: 20px;
      border-radius: 5px;
      margin: 10px;
      background-color: #fff;
    }

    .column-1 {
      grid-area: column-one;
    }

    .column-2 {
      grid-area: column-two;
    }

    .trips-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "column-one column-two"
    }
  }
}
