html {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: 'Lato';
  height: 100%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight:  700;
  letter-spacing: 1px;
  color: #fff;
}

h3 {
  font-size: .7em;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

nav li a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

/*-------------------------------------------*/

#navigation-bar {
  width: 100%;
}

.page-title a:link h1, a:visited {
  margin: 0;
  color: #fff;
  text-decoration: none;
}

.page-title {
  background-color: #EA6E34;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-title h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1.5em;
  letter-spacing: 2px;
  display: inline-block;
  margin: 0 auto;
  text-shadow: 1px 1px #ad410f;
}

button .fa-bars {
  font-size: 1.5em;
  float: left;
}

.sidebar {
  max-height: 0;
  visibility: hidden;
}

.whoosh > .sidebar {
  visibility: visible;
  overflow-y: hidden;
  max-height: 500px; /* approximate max height */

  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1)
}

.menu li {
  font-size: 1em;
  text-align: center;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.menu button {
  text-transform: uppercase;
  letter-spacing: 1px;

}

.menu a:visited {
  color: #fff;
}

.menu .home {
  background-color: #DFF0E6;
}

.menu .dashboard-button, .menu .login {
  background-color: #69D3D9;
}

.create-trip-button, .menu .register {
  background-color: #00A7B3;
}

.create-trip-button button {
  color: #fff;
}

/*-------------------------------------------*/

.login-form, .register-form, .travelgroup-new-form {
  box-sizing: border-box;
  padding: 25px;
}

.login-form h2, .register-form h2, {
  color: #69D3D9 ;
  text-align: center;
}

.login-form label, .register-form label, .travelgroup-new-form label{
  display: block;
}

.login-form input, .register-form input, .travelgroup-new-form input {
  box-sizing: border-box;
  border: solid 1px lightgrey;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 1em;
  box-sizing: border-box;
  border-radius: 5px;

}

.login-form input[type="email"]::-webkit-input-placeholder, .travelgroup-new-form input[type="email"]::-webkit-input-placeholder,{
  color: lightgray;
  font-style: 'Lato', sans-serif;
  font-weight: 300;
}

.login-form button[type="submit"], .register-form button[type="submit"] {
  background-color: red;
  outline: 0;
  border: 0;
  width: 50%;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
}

/*-------------------------------------------*/

.main-content {
  min-height: 100%;
}

.trip-item {
  padding: 20px 25px;
}


h2.secondary-title {
  background-color: #69D3D9;
  color: #fff;
  text-align: center;
  font-size: 1em;
  padding: 10px;
  margin: 0;
  text-shadow: 1px 1px #00A7B3;
}

.column-1 {
  margin: 0;
}

.trips-list p {
  color: #3a3a3a;
  font-weight: 400;
}

p.trip-location {
  color: gray;
}

.border {
  background-color: gray;
  height: 2px;
  width: 40%;
  margin: 0 auto;
}

.trip-item h3.trip-name a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #08457B;
  margin: 0;
  font-size: 1.5em;
}

.trip-item p {
  font-size: 1em;
  margin: 0;
  margin-bottom: 2px;
}

.label {
  font-style: 'Lato', sans-serif;
  font-weight: 300;
  color: gray;
}

.fa-map-marker {
  color: #E36B32;
}

/*-----------------------------------------------------*/

.trip-new-form {
  padding: 50px 100px;
}

.trip-new-form label {
  display: block;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
}

.trip-new-form input {
  border: solid 1px lightgrey;
  padding: 20px;
  width: 100%;
  margin: 30px 0;
  margin-bottom: 60px;
  font-size: 2em;
  box-sizing: border-box;
  border-radius: 15px;
}

.trip-new-form input[type=submit] {
  background-color: #EA6E34;
  color: #fff;
  text-shadow: 1px 1px #00A7B3;
}

.trip-info-name {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #08457B;
  font-size: 1.1em;
}

.trip-info-text {
  padding: 25px;
}

.trip-info-text p {
  margin: 5px 0;
}

p.trip-organizer {
  color: gray;
}

.traveller-item p {
  margin: 5px 0;
}

.traveller-item {
  margin-bottom: 25px;
}

.traveller-list {
  padding: 25px;
}

button {
  text-shadow: 1px 1px #00A7B3;
}

.traveller-list h4 {
  background-color: #69D3D9;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 1em;
}

.trip-budget {
  padding-top: 25px;
  color: #08457B;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.chart {
  font-size: 1em;
}

.trip-info-buttons button, .add-info-buttons button,  .travelgroup-new-form input[type=submit] {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  display: block;
  background-color: #69D3D9;
  outline: 0;
  border: 0;
  margin: 10px auto;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.trip-info-buttons a {
  margin: 0 auto;
  box-sizing: content-box;
}

.trip-info-buttons a {
  display: block;
}

.add-info-buttons {
  padding: 25px;
}

.add-info-buttons a {
  display: block;
  font-size: 1em;
}

canvas.chartjs-render-monitor {
  font-family: 'Montserrat', sans-serif;
  font-size: 30em;
  position: relative;
  height:100vh;
}

.trip-flights {
  padding: 20px 25px;
}

.trip-flights h4 {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #08457B;
  margin: 0;
  font-size: 1em;
}

.trip-flights p {

}

.footer {
  padding: 2px 0;
  width: 100%;
  font-size: .8em;
  font-family: 'Lato' sans-serif;
  text-align: center;
  background-color: gray;
  color: #fff;
}

.footer p {
  margin: 3px;
}

/*
#DFF0E6
#69D3D9
#00A7B3
#08457B dark blue
#EA6E34 orange
#FFC059
*/

@supports not (display: grid) {
  .page-title,
  .main-content,
  .sidebar {
    max-width: 50em;
    margin: 0 auto;
  }
}

@media screen and (min-width: 330px) {
    @supports (display: grid) {

  body {
    background-color: red;
  }
    #trip-info {
      box-sizing: border-box;
      padding: 30px;
    }

    .footer {
      background-color: blue;
      padding: 20px;
      color: #fff;
      font-family: sans-serif;
      text-align: center;
      bottom: 0;
    }

    .page-title h1{
      margin: 0;
    }

    .page-title {
      background-color: #EA6E34;
      padding: 20px;
      padding-left: 80px;
      color: #fff;
      box-sizing: border-box;
      grid-area: header;
      font-size: 30px;
    }

    .main-content {
      grid-area: main;
    }

    nav.sidebar {
      grid-area: sidebar;
    }

    .footer {
      grid-area: footer;
    }

    .sidebar li {
      display: block;
    }

    .site {
      display: grid;
      grid-template-columns: 1fr 5fr;
      grid-rows: auto;
      grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    }

    .column-1 {
      grid-area: column-one;
    }

    .column-2 {
      grid-area: column-two;
    }

    .trips-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "column-one column-two"
    }
  }
}
